 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/5149d6ad75f6f5fc8b05c99b8688fb7e5ae9d163c9517767a512f19579244876fde6971638c2af10d917f45a94ec4363c509f272f412da4e0f15f9_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 952px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 251px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 6rem;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 30px auto 60px;
  padding: 10px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1058px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1037px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}